@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
    font-family:  'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/*---------------------------------------------header nav title, bootstrap css for image*/



.list-inline-item:not(:last-child) {
    margin: 0;
}

.mcontainer {
    font-size: 0;
    margin-bottom: 0;
}

#nav li {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    position: sticky;
}




.bg-image-books {
    background: url("../images/books1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 35px;
    font-weight: 600;
}

.title {
    font-size: 40px;
    margin: 35px 30px;
}

.quote {
    font-size: 20px;
    margin: 20px 0 30px 30px; 
}

h5 {
    font-size: 14px;
    margin-left:30px;
    margin-right: 15px;
    padding-bottom: 30px;
    float: right;
}

/*----------------------------------------------------about me*/

.round-circle {
    position: absolute;
        margin: 18px auto;
    max-width: 18%;
    height: auto;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.jbimage {
    margin: 18px auto;
    max-width: 18%;
    height: auto;
    position: relative;
}


.about-me-text {
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
    padding-bottom: 40px;
}

/*------------------------------------------------------classes*/

.table td {
border-left: 1px solid #dee2e6;
}

.table {
    margin: 40px auto 65px;
    border: 3px solid #fff;
}

tr th {
    font-size: 1.2em;
    text-align: center;
}

/*------located code on css-tricks.com*/
.cploc {
  position: relative;
  top: 25%;
  left: 25%;
}
/*
.jumbotron {
    position: relative;
    width: 60%;
    height: 20%;
}
*/

/*----------------------------------------------------------reviews*/

.class-grid {
    border: 5px;
    border-color: rgb(3, 39, 39);
}





/*------------------------------------------------------------links*/

.link-columns {
    max-width: 1300px;
    margin: 20px auto 0 auto;
    line-height: 50px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between
}


.link-area {
    box-sizing: border-box;
    border-color: rgb(64, 71, 75)
    padding: 10px;
    margin-bottom: 30px;
    width: 22%;
}

.podcasts {
    flex: 1;
}


.blogs {
    flex: 1;
}


.video {
    flex: 1;
}


.links {
    flex: 1;
}

/*---------------------------------------------------contacts*/

/*-----------------------------------------------------footer*/

.s-links a span {
    font-size: 50px;
    margin: 50px;
}

li i {
    height: 50px;
}

/*----------------------------------------------------Colours*/

.table {
    background: rgb(66, 126, 126);
}

tr td {
    color: #fff;
}


.full-title {
    background-color: #d0ece293;
}

.name a {
    color: rgb(64, 71, 75);
}

.title {
    color: rgb(64, 71, 75);
}

#nav span {
    color: rgb(88, 97, 102);
}

.li-colour-home {
    background-color: rgb(175,238,238);
}

.li-colour-me {
    background-color: rgb(105, 180, 180);
}

.li-colour-classes {
    background-color: rgb(66, 126, 126);
}

.li-colour-reviews {
    background-color: rgb(38, 87, 87);
}

.li-colour-links {
    background-color: rgb(12, 53, 53);
}

.li-colour-contacts {
    background-color: rgb(3, 39, 39);
}

/*----------------------------------------linear-gradient from w3schools.com*/
.wrapper-me {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(105, 180, 180));
}

.wrapper-classes {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(66, 126, 126));
}

.wrapper-reviews {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(38, 87, 87));
}

.wrapper-links {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(12, 53, 53));
}

.wrapper-contact {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(3, 39, 39));
}
