@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
    font-family:  'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 44px;
}

/*----------------Remove white right side bar on mobile view - Stackoverflow, Vinay Yadav*/
html, body {
    overflow-x: hidden;
}

/*---------------*/

/*-------------------------------------------------------------------------------------------------------header nav title, bootstrap css for image*/

.list-inline-item:not(:last-child) {
    margin: 0;
}

.mitem a {
    text-decoration: none;
}

.mcontainer {
    font-size: 0;
    margin-bottom: 0;
}

#nav li {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    padding: 0;
}

.bg-image-books {
    background: url("../images/books1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 35px;
    font-weight: 600;
}

.title {
    font-size: 40px;
    margin: 35px 30px;
}

.quote {
    font-size: 20px;
    /*margin: 20px 1px 40px 30px; */
margin-top: 30px;
margin-bottom: 40px;
margin-right: 30px;

}

.quote-area {
    margin-left: 20px;
}

h5 {
    font-size: 18px;
    margin-left:30px;
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 30px;
    float: right;
}

/*------------------------------------------------------------------------------------------------------------------------about me*/


.inline-block {
   display: inline-block;
}

.lang-flags img {
    width: 40px;
    z-index: 2;
    margin-left: 50px;
}

.wrapper-me {
    padding-bottom: 25px;
}

.wrapper-me img {
    margin: 0 30% 15px;
    width: 40%;
    height: 40%;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
   /* margin-top: 20px;*/
}

.jbimage {
    margin: 18px auto;
    max-width: 18%;
    height: 50px;
    position: relative;
}

.about-me-text {
    text-align: center;
    font-size: 20px;
    margin: 30px auto;
    padding-bottom: 40px;
}

/*------------------------------------------------------------------------------------------------------------------------classes*/

table.center {
    margin: 30px auto 30px;
    max-width: 65%;
    padding: 20px;
  }

.table td {
    border-left: 1px solid #dee2e6;
}

.table thead th {
    border-left: 1px solid #dee2e6;
}

.table {
    /*align: center;*/
    border: 3px solid #fff;
}

tr th {
    font-size: 1.2em;
    text-align: center;
}

.jumbotron {
    width:60%;
    height: auto;
    animation-name: flash;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    border-radius: 0.3em;
    margin: 0 auto 45px;
    padding-top: 30px;
}

.jumbotron h3 {
    width: auto;
    text-align: center;
    font-size: 40px;
}

.jumbotron h4 {
    text-align: center;
}

.alert-light {
    background-color: transparent;
    border-color: transparent;
    margin-top: 18px;
}

/*------------------------------------------Flashing text from Stackoverflow, SupperSam*/

.alert {
    animation-name: flash;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    text-align: center;
}

@keyframes flash {
    from {color: rgb(18, 56, 40);}
    to {color: rgb(18, 230, 46);}
}

/*-----------------*/

.class-grid {
    border: 5px;
    border-color: rgb(3, 39, 39);
}

/*----------------------------------------------------------------------------------------------------------------------------reviews*/

/*----------------------------------from Bootstrap*/

#review img {
    opacity: 0.5;
}

/*----------------*/

/*------------------------------------w3school.com*/

#review p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}

/*----------------*/

.review-text {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    position: relative;
    width: 99%;
}

.carousel {
    position: static;
    color: transparent;
}

.carousel-item {
    display: flex;
    padding-top: 40px;
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}

p .review-text {
    padding: 200px 40px;
}

/*-------------------------------------------------------------------------------------------------------------------------links*/

.link-area a {
    color: rgb(64, 71, 75);
    line-height: 20px;
    padding: 0;
    width: 50%;
    min-height: 150px;
    text-align: center;
    font-size: 20px;
    margin: 0 5px 10px 5px;
}

.link-area li {
    line-height: 27px;
    margin: 0;
    font-size: 20px;
}

.link-area ul {
    background-color: rgb(219, 224, 224);
    border: 1.5px solid rgb(64, 71, 75);
    border-radius: 0.8em;
    min-height: 300px;
    width: auto;
    margin: 0;
}

.wrapper-links {
    padding: 0;
    width: 100%;
    padding-bottom: 45px;
}

.wrapper-links > div .row {
    flex-wrap: nowrap;
}
/*---------------------------------------------------------------------------------------------------------------------contacts*/

button.btn.btn-primary {
    color: rgb(64, 71, 75);
    background-color: rgb(105, 180, 180);
    border-color: rgb(66, 126, 126);
    box-shadow: 0 0 0 0.1rem rgba(146, 241, 226, 0.4);
    font-size: 25px;
    font-weight: 700;
    border-radius: 0.8em;
    margin: 20px 20% 35px;
    width: 60%;
    height: 25%;
}

.modal-header {
    text-align: center;
}

.wrapper-contact h3 {
    width: 60%;
    font-size: 20px;
    color: rgb(25, 26, 27);
    margin: 30px auto 50px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}

#list-links {
    align-content: center;
}

/*----------------------------------------------------------------------------------------------------------------------footer*/

footer {
    height: 120px;
    background-color: rgb(3, 39, 39);
}

.social {
    text-align: center;
    padding-top: 50px;
}

.social li {
    display: inline;
}

.social i {
    font-size: 250%;
    color: rgb(229, 233, 235);
}

/*----------------------------------------------------Colours*/

.jumbotron {
    background-color: transparent;
}

.table {
    background: rgb(66, 126, 126);
}

tr td {
    color: #fff;
}


.full-title {
    background-color: #d0ece293;
}

.name a {
    color: rgb(64, 71, 75);
}

.title {
    color: rgb(64, 71, 75);
}

#nav span {
    color: rgb(229, 233, 235);
}

.review-text {
    color: #fff;
}

.li-colour-home {
    background-color: rgb(124, 197, 197);
}

.li-colour-me {
    background-color: rgb(105, 180, 180);
}

.li-colour-classes {
    background-color: rgb(66, 126, 126);
}

.li-colour-reviews {
    background-color: rgb(38, 87, 87);
}

.li-colour-links {
    background-color: rgb(12, 53, 53);
}

.li-colour-contacts {
    background-color: rgb(3, 39, 39);
}

/*----------------------------------------linear-gradient from w3schools.com*/
.wrapper-me {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(105, 180, 180));
}

.wrapper-classes {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(66, 126, 126));
}

.wrapper-reviews {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(38, 87, 87));
}

.wrapper-links {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(12, 53, 53));
}

.wrapper-contact {
    background-image: linear-gradient(to bottom , rgb(255,255,255), rgb(3, 39, 39));
}

/*---------------*/